main{
  background-image: linear-gradient(to left top, #1a1b20, #272931, #353743, #444656, #545669);
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main_titulo{
  font-family: "Anta", sans-serif;
  font-weight: 400;
  color: white;
  font-size: 3.5rem;
  letter-spacing: 7px;
}